In [75]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

pd.set_option('display.mpl_style', 'default') # Make the graphs a bit prettier
plt.rcParams['figure.figsize'] = (15, 5)

In [131]:
    try_data = pd.read_csv('trip_data_3.csv', skipinitialspace=True, dtype={'rate_code': str, 'passenger_count': np.int, 'trip_time_in_secs': np.int, 'trip_distance': np.float}, parse_dates=[6, 7])

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/pandas/io/parsers.py:1164: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = self._reader.read(nrows)

In [132]:
try_data[:3]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,FE7B354FEB67B9C94BD34EA54469691C,2C78614ADC9C602EC70D65CCB4E63B14,CMT,1,N,2013-03-01 00:00:04,2013-03-01 00:19:03,1,1138,14.3,-73.776703,40.645164,-73.913925,40.772614
1,B1370E6501ED61CEDA0160199AF7708C,08BF18740B38D64720C9E060429A3968,CMT,1,N,2013-03-01 00:00:18,2013-03-01 00:12:11,1,712,3.3,-73.987343,40.752056,-73.965340,40.792721
2,CBC20164C22B96CAF5BC86C49F749DBB,F3310C8DA3DB753DDB5800F32D3CB8E3,CMT,1,N,2013-03-01 00:00:18,2013-03-01 00:14:24,1,845,4.5,-73.991493,40.726444,-73.980865,40.778370

In [38]:
try_data.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code', 'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_time_in_secs', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude'], dtype='object')

In [39]:
try_data['rate_code'].unique()

array(['1', '2', '5', '3', '4', '6', '0', '210', '9', '7', '8', '17'], dtype=object)

In [33]:
try_fare = pd.read_csv('trip_fare_3.csv', skipinitialspace=True, parse_dates=[4])

In [34]:
try_fare[:3]

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,FE7B354FEB67B9C94BD34EA54469691C,2C78614ADC9C602EC70D65CCB4E63B14,CMT,2013-03-01 00:00:04,CRD,39.5,0.5,0.5,10.1,0,50.6
1,B1370E6501ED61CEDA0160199AF7708C,08BF18740B38D64720C9E060429A3968,CMT,2013-03-01 00:00:18,CRD,13.0,0.5,0.5,2.1,0,16.1
2,CBC20164C22B96CAF5BC86C49F749DBB,F3310C8DA3DB753DDB5800F32D3CB8E3,CMT,2013-03-01 00:00:18,CRD,15.0,0.5,0.5,3.2,0,19.2

In [35]:
try_fare.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'pickup_datetime', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'], dtype='object')

In [ ]:
try_data.passenger_count.replace({'0': np.nan, '255': np.nan}, inplace=True)
try_fare.payment_type.replace({'UNK': np.nan}, inplace=True)

In [155]:
taxis = pd.merge(try_data, try_fare, on=['medallion','hack_license','vendor_id','pickup_datetime'])

In [72]:
taxis[:3]

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,...,pickup_latitude,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,FE7B354FEB67B9C94BD34EA54469691C,2C78614ADC9C602EC70D65CCB4E63B14,CMT,1,N,2013-03-01 00:00:04,2013-03-01 00:19:03,1,1138,14.3,...,40.645164,-73.913925,40.772614,CRD,39.5,0.5,0.5,10.1,0,50.6
1,B1370E6501ED61CEDA0160199AF7708C,08BF18740B38D64720C9E060429A3968,CMT,1,N,2013-03-01 00:00:18,2013-03-01 00:12:11,1,712,3.3,...,40.752056,-73.965340,40.792721,CRD,13.0,0.5,0.5,2.1,0,16.1
2,CBC20164C22B96CAF5BC86C49F749DBB,F3310C8DA3DB753DDB5800F32D3CB8E3,CMT,1,N,2013-03-01 00:00:18,2013-03-01 00:14:24,1,845,4.5,...,40.726444,-73.980865,40.778370,CRD,15.0,0.5,0.5,3.2,0,19.2

In [52]:
taxis['store_and_fwd_flag'].value_counts(dropna=False)

NaN    7819244
N      7742490
Y       187494
dtype: int64

In [127]:
taxis['passenger_count'].value_counts(dropna=False)

1      11103668
2       2114687
5        939017
3        656846
6        613904
4        320671
0           427
7             6
9             1
255           1
dtype: int64

In [154]:
try_data.passenger_count.replace({'0': np.nan, '255': np.nan}, inplace=True)
try_fare.payment_type.replace({'UNK': np.nan}, inplace=True)

array(['1', '2', '4', '3', '5', '6', nan, '9', '7'], dtype=object)

In [59]:
taxis['trip_distance'].describe()

count    15749228.000000
mean            2.841483
std             3.316187
min             0.000000
25%             1.020000
50%             1.760000
75%             3.180000
max           100.000000
Name: trip_distance, dtype: float64

In [63]:
taxis[['pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']].describe()

       pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
count   15749228.000000  15749228.000000    15748935.000000   15748935.000000
mean         -72.676843        40.036778         -72.635540         40.015159
std           10.032440         6.941163          10.068261          7.122860
min        -2316.636500     -3124.489700       -2491.220000      -3547.897200
25%          -73.992188        40.734612         -73.991486         40.733704
50%          -73.982002        40.752274         -73.980499         40.752590
75%          -73.967209        40.766754         -73.964027         40.767635
max         2945.958700      3210.385500        1347.443700       3453.317400

In [139]:
taxis['vendor_id'].value_counts(dropna=False)

CMT    7931964
VTS    7817264
dtype: int64

In [147]:
taxis['payment_type'].value_counts(dropna=False)

CRD    8349957
CSH    7344929
NOC      35797
DIS      12016
UNK       6529
dtype: int64

In [143]:
taxis.keys()

Index(['medallion', 'hack_license', 'vendor_id', 'rate_code', 'store_and_fwd_flag', 'pickup_datetime', 'dropoff_datetime', 'passenger_count', 'trip_time_in_secs', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount', 'tolls_amount', 'total_amount'], dtype='object')

In [157]:
total_under_five = taxis['total_amount'] < 5
total_over_fifty = taxis['total_amount'] > 50
uses_credit = taxis['payment_type'] == 'CRD'

In [161]:
len(taxis[total_under_five & uses_credit]) / len(taxis[total_under_five])

0.08878207375437885

In [162]:
len(taxis[total_over_fifty & uses_credit]) / len(taxis[total_over_fifty])

0.6816734964388728

In [191]:
taxis.trip_time_in_secs.replace({0: np.nan}, inplace=True)
(taxis['fare_amount'] / (taxis['trip_time_in_secs'] / 60)).describe()

count    15712350.000000
mean            1.412929
std            18.296851
min             0.013889
25%             0.849057
50%             1.000000
75%             1.200000
max         12000.000000
dtype: float64

In [192]:
taxis.trip_distance.replace({0: np.nan}, inplace=True)
(taxis['fare_amount'] / (taxis['trip_distance'])).median()

5.0

In [193]:
(taxis['trip_distance'] / (taxis['trip_time_in_secs'] / 3600)).describe()

count    15654238.000000
mean           14.863744
std           176.405694
min             0.005882
25%             8.888889
50%            11.900000
75%            16.039604
max        153720.000000
dtype: float64

In [194]:
(taxis['trip_distance'] / (taxis['trip_time_in_secs'] / 3600)).quantile(0.95)

26.60869565217391

In [218]:
taxis.groupby('hack_license')['total_amount'].sum().median()

7221.199999999995